.container {
  text-align: center;
  border: 1px solid black;
  width: 300px;
  margin: 0 auto;
}

#btn-start {
  padding: 4px 6px;
  cursor: pointer;
  margin-top: 20px;
}

#btn-bantuan {
  padding: 4px 6px;
  cursor: pointer;
  margin-top: 20px;
}

.container-form {
  margin-top: 30px;
  margin-bottom: 30px;
  display: none;
}

input {
  padding: 4px 6px;
}

#tebak {
  padding: 4px 6px;
  cursor: pointer;
}
